@model X.PagedList.IPagedList<DAL.Models.Video>
@using Microsoft.AspNetCore.Mvc.TagHelpers

@{

    ViewData["Title"] = "Index";
    string searchText = ViewData["searchText"] as string;
    var MoviesItems = Model;
}
<h1>Movies</h1>
<form method="get">
    <input class="w-25" id="searchValue" type="search" name="searchText" placeholder="Search by Ganre or Name" value="@searchText" />
    <button type="submit" class="btn btn-primary">Search</button>
</form>



<br />

<div class="row">
    @foreach (var item in MoviesItems)
    {
        <div class="col-md-3">
            <div class="card mb-3 h-100">
                <a href="@item.StreamingUrl" target="_blank">
                    <img src="@(item.Image?.Content)" class="card-img-top fixed-image">
                </a>
                <div class="card-body">
                    <h5 class="card-title">@(item.Name)</h5>
                    <p class="card-text">@(item.Description)</p>
                    <p class="card-text">@(item.Genre?.Name)</p>
                </div>
                <div class="card-footer">
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Details</a> </div>
            </div>
        </div>
    }
</div>

<div class="row">
    <div class="col-md-12">
        Page size: 4 (hardcodet)
        <br/>
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li class="page-item @(Model.HasPreviousPage ? "" : "disabled")">
                    <a class="page-link" asp-action="Index" asp-controller="Videos" asp-route-searchText="@ViewData["searchText"]" asp-route-page="@(Model.PageNumber - 1)" asp-route-pageSize="@(Model.PageSize)">Previous</a>
                </li>
                @for (int i = 1; i <= Model.PageCount; i++)
                {
                    <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                        <a class="page-link" asp-action="Index" asp-controller="Videos" asp-route-searchText="@ViewData["searchText"]" asp-route-page="@(i)" asp-route-pageSize="@(Model.PageSize)">@i</a>
                    </li>
                }
                <li class="page-item @(Model.HasNextPage ? "" : "disabled")">
                    <a class="page-link" asp-action="Index" asp-controller="Videos" asp-route-searchText="@ViewData["searchText"]" asp-route-page="@(Model.PageNumber + 1)" asp-route-pageSize="@(Model.PageSize)">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<style>
    .fixed-image {
        width: 100%;
        height: auto;
        max-width: 600px;
        max-height: 350px;
    }
</style>